.app {
  text-align: center;
  font-family: Arial, sans-serif;
  background-color: black;
  margin: 1px; 
  /* set height to 100% of dvh - margin*/
  height: calc(100dvh - 2px);
  border-radius: 8px;
  display: flex;
  flex-direction: column;
}

html, body {
  margin: 0;
  padding: 0;
  background-color: #ffd700;
}

h1 {
  color: #0033A0;
  margin: 0;
}

.top-bar {
  background-color: #333;
  color: white;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  padding: 10px;
  height: 37px;

  @media (max-width: 768px) {
    height: 50px;
  }
}

.main-content {
  flex: 1;
  padding: 20px;
  overflow-y: auto;
}